<template>
	<section class="container">
		<div>
			<h1 class="title">
				About
			</h1>
			<h2 class="subtitle">
				This is the about site
			</h2>
		</div>
	</section>
</template>


<script>

</script>


<style>

</style>
