<template>
	<section class="container">
		<div>
			<h1 class="title">
				Smokr
			</h1>
			<h2 class="subtitle">
				Powered by Nuxt.js, Firebase, and Ace Editor
			</h2>
		</div>
	</section>
</template>

<script>

</script>

<style>

</style>
