<template>
  <div>
  <nuxt-link
        v-for="link in links"
        v-bind:key="link.path"
        v-bind:to="link.path" class="button--green">
    {{ link.name }}
  </nuxt-link>
  </div>
</template>

<style>

</style>

<script>
export default {
    created() {
        this.$router.options.routes.forEach(route => {
            this.links.push({
                name: /^index$/.test(route.name) ? "home" : route.name,
                path: route.path
            })
        })
    }, 
    data() {
        return {
            links: []
        }
    }
}
</script>
